.container {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.wrapper {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh 0;
    background: #222;
    font-weight: 500;
    color: #fff;

}

.wrapper > button {
    background: green;
    color: #fff;
    font-weight: 600;
    padding: 8px;
    font-size: 20px;
    text-transform: uppercase;
}

