.container {
    height: auto;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  

}

.container > h2 {
    font-weight: 400;
    font-size: 80px;
    width: 100%;
    background: #edf0f0;
    text-align: center;
    margin:  0;
    color:rgb(30, 132, 124);
    
    

    
  
}

.container > h2 > span {
    font-weight: 500;
    color: black;
    
}

.container > h2 > .eth {
    font-weight: 300;
    color: #999;
    font-size: 70px;
   
    text-transform: uppercase;
    
}

.container > p {
    font-size: 20px;
    font-weight: 300;
    padding-top: 2vh;
}

.container > p > a  {
    text-decoration: none;
    color:   #222;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.container > p > a:hover {
    
    color:#e9d016;
    


}


@media (max-width: 1092px) {

    .container {

        padding-bottom: 2vh;

    }
   .container > p {
    width: 80%;
    text-align: center;
    
   }

   .container > h2 {
   
    font-size: 50px;
    

   

}

.container > h2 > .eth {
   
    font-size: 40px;
   
    
}
        
  }


  @media (max-width: 600px) {

    .container > p {

        font-size: 18px;



    }

  }