.container {
    height: auto;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 6vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  

}

.container > h2 {
    font-weight: 400;
    font-size: 80px;
    width: 100%;
    background: #edf0f0;
    text-align: center;
    margin:  0;
    color:rgb(30, 132, 124);
    
    

    
  
}

.container > h2 > span {
    font-weight: 500;
    color: black;
    
}

.container > h2 > .eth {
    font-weight: 300;
    color: #999;
    font-size: 70px;
   
    text-transform: uppercase;
    
}

.container > p {
    font-size: 20px;
    font-weight: 300;
    padding-top: 2vh;
}


@media (max-width: 992px) {
   .container > p {
    width: 80%;
   }

   .container > h2 {
   
    font-size: 50px;

}

.container > h2 > .eth {
   
    font-size: 40px;
   
    
}
        
  }