.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3vh 0;
  }
  
  .wrapper {
  
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
   
    padding: 2vh 0;

    
  
    
  }
  
  .box {
    width: 27%;
    min-height: 280px;
    height: auto;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 0.5px solid #222;
    background: #fff;
    gap: 1.3rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    
  
  }


  .box1 {
    width: auto;
    min-height: 15px;
    height: auto;
    padding: 1vh 3vh;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border: 0.5px solid #222;
    align-items: center;
    align-self: center;
    justify-content: center;
    background: #ffffff;
   
  gap: 5rem;
    border-radius: 10px;
    font-weight: 400;
    margin-bottom: 3vh;
    
  
  }




 
  
  .box >  h3 {
    font-size: 30px;
    text-align: center;
    width: 80%;
    
    font-weight: 500;
    
  }
  
  .box > input  {
    font-size: 20px;
    font-weight: 300;
  }

  .box >  h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-wrap: break-word;
    width: 60%;
  
    
  }


  .box1 >  h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
   
    word-wrap: break-word;
   
  
    
  }


  .box1 >  h5 > span {
    color: rgb(21, 149, 77);
    font-weight: 500;
  }




  .box >  h5 > span {

  font-weight: 300;


  }
  
  .box >  button {
  
    background: rgb(30, 132, 124);
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 12px;
    transition: all 0.2s ease-in-out;
    border: 0px;
  
  }
  
  .box > button:hover {
    background: #333 !important;
    cursor: pointer !important;
    color: #fff !important;
  
  
  }



  
.buttonCont {
  width: 100%;
  height: auto;
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

}

.buttonCont > button {

  background: rgb(30, 132, 124);
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  border-radius: 20px;
  
  text-transform: uppercase;
  padding: 12px;
  transition: all 0.2s ease-in-out;
  border: 0px;
}


.buttonCont > button:hover {
  background: #333 !important;
  cursor: pointer !important;
  color: #fff !important;


}


  
 .lonerButton {
  background: rgb(21, 149, 77);
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  border: 0px;
  margin: 3vh 0;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  width: 18%;

 }

 .lonerButton:hover {

  background: #333 !important;
    cursor: pointer !important;
    color: #fff !important;

 }

 #buttonId {
  display: none;
  background-color: rgb(21, 149, 77) ;
 }

 .specialH5 {
  font-weight: 500 !important;
 color: rgb(30, 132, 124);
 }


 .specialH5 > span {
  color: #222;
  font-weight: 300;
 }





  .balances {
    border: 0.5px solid #222;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    font-size: 19px;
  }


  .balances > legend {
    font-weight: 300;
    text-align: center;
    
    padding: 0 0.2vw;
  }


  .balances > h5 > span {

    font-weight: 300;
  
  
    }

  .modalCont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2vh 0;
  }

  .modalCont > h5 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 60%;
    font-weight: 300;
    padding-bottom: 1vh;
  }


  .modalCont > p {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    width: 80%;
    font-weight: 300;
    padding-bottom: 1vh;
  }


  .modalCont > p > ul {
    margin-left: 0.7vw;
    list-style-type: none;
  }


 

  .modalCont > h5 > span {
    font-weight: bold;
  }


  .rebateH5 {

    margin-bottom: 1vh;

  }


.speshModal::-webkit-scrollbar {
  display: none;
  position: relative;
}

  .speshSpan {
    color: green;
    font-weight: 600 !important;
  }

  .modalCont > h3 {
    font-size: 30px;
    text-align: center;
    width: 80%;
    padding-bottom: 0.8vh;
    font-weight: 600;

  }

  .removeIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    cursor: pointer;
}

  .foundry {
    background-color: rgb(30, 132, 124) !important;

  }

  .fakestETH {
    background-color:  #fcea4f !important;
    color: #222 !important;

  }

  .disconnect {
    background-color: #f8ec85 !important;
    color: #222 !important;


  }
  


  .error {
    font-size: 24px;
    padding: 0.5vh 0;
    padding: 5vh;
    height:auto;
    width: 80%;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    color: red;
  }

  .error2 {
    font-size: 24px;
    padding: 0.5vh 0;
    height:auto;
    width: 80%;
    font-weight: 600;
    gap: 0.5rem;
display: none;
align-items: center;
    flex-direction: column;
    justify-content: center;
    color: red;
  }

  .error2 > p , .error > p  {
    text-align: center;
  }


  @media (max-width: 1750px) { 


  .box > h3 {
    font-size: 23px;
  }
  
  .box > h5 {
    font-size: 18px;
    width: 70%;
  }

}


  
  

  @media (max-width: 1050px) {


    .container {
      padding-bottom: 0vh;
    }

    .wrapper {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0vh;
    }


    .box1 {
    flex-direction: column;
    width: 60%;
    gap: 1rem;
    padding: 3vh 3vh;
      
    
    }

    #buttonId {
      display: flex;
     }

     .lonerButton {
      display: none;
     }

    .box {
      width: 70%;
      min-height: 200px;
      height: auto;
      justify-content: center;
      padding: 3vh 0;
      gap: 1.8rem;

     
    }

    


    .lonerButton {

      width: 50%;



    }
    

    .box > h5 {
      font-size: 18px;
    }

    .box1 > h5 {
      font-size: 18px;
      width: 90%;
    }

    .box > h3 {
      font-size: 23px;
    }

  

  

     

    .error2 {
    
  display: flex;
  font-size: 20px;
    
    }

    .error {
      display: none;
    }
 
        
  }
  

  @media (max-width: 600px) {

    .box {
      font-size: 16px;
      width:80%;
    }

    .box1 {
      width: 70%;
    
    }

   
    .box > h5 {
      font-size: 17px;
    }

    .box1 > h5 {
      font-size: 17px;
    }

    .box > h3 {
      font-size: 20px;
    }

    .box > button {
      font-size: 13px;

     
    }


    .buttonCont {
      flex-direction: column;
      gap: 1rem;
    }


    .buttonCont > button {

      font-size: 13px;


    }

    #buttonId {

      font-size: 17px;

    }


    .box > input {
      width: 80%;
    }


    .error2 {
    
     width: 90%;
        
        }

        
    
       


    



  }