.container {
    width: 100%;
   
    height: auto;

    background: #fff;

   
    
    transition: all 1s ease-in-out;
   
  
   
}

table {
    padding: 0!important;
    border-radius: 10px;
    
    
}


tr:nth-child(even) {
    background: #efeeee;
}


td, th {
    padding: 1vw;
   
    text-align: center;
    font-size: 16px;
    border: 0!important;
    margin: 0!important;
   
}


#eventName {
    background: #f8ec85;
    font-weight: 300;
    border:0.25px #222 solid;

}


@media (max-width: 600px) {


    td, th {
        
        font-size: 15px;
       
       
    }






}


   








