.container {
    height: auto;
    width: 90%;
    padding: 2vh 0;
    display: flex;
    align-items: center;
   font-size: 17px;
    justify-content: flex-start;

}

.addressTextClass {
   position: relative;
   display: flex;
   justify-content: flex-start;
   gap: 1rem;
   padding-left: 1vw;

    width: 100%;
    font-weight: 300;
   
}

.addressTextInput {
    border:  0;
    background-color: transparent;


   
    font-size: 17px;
    font-weight: 200;
    width: 30%;

}

.icon {
    cursor: pointer;
}


@media (max-width: 1050px) {

    .container {
        font-size: 16px;
        
            width: 85%;
            justify-content: center;
        
        
    }
    .addressTextClass {
   
         width: 90%;
      
        
     }

     .addressTextInput {
        border:  0;
        background-color: transparent;
       width: 58%;
    
        margin: 0 0.7vw;
        font-size: 15px;
        font-weight: 200;
    
    }
        
  }

  @media (max-width: 600px) {

    .addressTextInput {
        border:  0;
        background-color: transparent;
       width: 80%;
    
        font-size: 15px;
     
    
    }
    



  }




